---
import { getConfigurationCollection } from "../lib/utils";
import Anchor from "./common/Anchor.astro";
import Section from "./common/Section.astro";

const { data: config } = await getConfigurationCollection();

const date = new Date();
const year = date.getFullYear();
---

<footer class="mt-16 mb-8">
  <Section class="mb-4">
    <div class="zag-border-b mb-3"></div>
    <p class="zag-text zag-transition text-center text-sm font-medium">
      &copy; {year}
      {config.personal.name}. All rights reserved.
    </p>
  </Section>
</footer>
