---
type Props = {
  id?: string;
  class?: string;
  padding?: number;
};

const { id, class: className, padding = 4 } = Astro.props;

const paddingClass = `p-${padding}`;
---

<section id={id} class:list={[paddingClass, "max-w-2xl mx-auto", className]}>
  <slot />
</section>
