---
import Section from "./Section.astro";
import SectionSubtitle from "./SectionSubtitle.astro";

type Props = {
  highlight?: string;
  text?: string;
  subtext?: string;
};

const { highlight = "", text = "", subtext } = Astro.props;
---

<Section class="mb-4" padding={0}>
  <SectionSubtitle highlight={highlight} text={text} mb={2} />
  {subtext && <p class="font-base text-lg mb-6">{subtext}</p>}
  <slot />
</Section>
